@*@{
    ViewBag.Title = "Phone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar-line">
    <div class="navbar-link">
        <a asp-controller="Home" asp-action="TrangChu" style="text-decoration: none"><i class="fa-solid fa-house" style="color: red;"></i><span>Trang chủ</span></a><i class="fa-solid fa-angle-right"></i><span>Điện thoại</span>
    </div>
</div>

<div class="category">
    <div>
        <div class="category-name" style="margin-top: 20px;">
            <strong>Thương hiệu điện thoại</strong>
        </div>
        <div class=" list-brand">
            <a href=""><img src="/picbrand/apple.webp"></a>
            <a href=""><img src="/picbrand/ssphone.webp"></a>
            <a href=""><img src="/picbrand/xiaomi.webp"></a>
            <a href=""><img src="/picbrand/realme.webp"></a>
            <a href=""><img src="/picbrand/oppo.webp"></a>
            <a href=""><img src="/picbrand/vivo.webp"></a>
            <a href=""><img src="/picbrand/Nokia.webp"></a>
            <a href=""><img src="/picbrand/techno.webp"></a>
            <a href=""><img src="/picbrand/asus.webp"></a>
            <a href=""><img src="/picbrand/nubia.webp"></a>
        </div>
    </div>

    <div>
        <div class="category-quired" style="margin-bottom: 20px;">
            <strong>Chọn theo nhu cầu</strong>
        </div>
        <div class="list-quired">
            <li style="background-image: url(/picrequired/choigame.jpg);"><a href="home.html">Chơi game</a></li>
            <li style="background-image: url(/picrequired/dungluong.jpg); background-color: rgb(144, 144, 144);"><a href="">Dung lượng lớn</a></li>
            <li style="background-image: url(/picrequired/pintrau.jpg); background-color: rgb(101, 91, 117);"><a href="">Pin trâu</a></li>
            <li style="background-image: url(/picrequired/camera-dt.jpg); background-color: rgb(70, 81, 107);"><a href="">Chụp ảnh đẹp</a></li>
            <li style="background-image: url(/picrequired/cauhinhcao.jpg); background-color: rgb(178, 142, 142);"><a href="">Cấu hình cao</a></li>
            <li style="background-image: url(/picrequired/mong-nhe.jpg);background-color: rgb(210, 149, 213);"><a href="">Mỏng nhẹ</a></li>
        </div>
    </div>

    <div>
        <div class="category-sort" style="margin-bottom: 20px; margin-top: 20px;">
            <strong>Chọn theo tiêu chí</strong>
        </div>
        <div class="category-list">
            <div id="criteria-dropdown-price" class="sort-list">
                <i class="fa-solid fa-money-bill"></i>
                <span style="padding-left: 3px;"> Giá</span>
                <div class="range-price">
                    <div class="group">
                        <div class="progress"></div>
                        <div class="range-input">
                            <input class="range-min" min="0" max="50000000" type="range" value="0" step="100000">
                            <input class="range-max" min="0" max="50000000" type="range" value="50000000" step="100000">
                        </div>
                        <div class="range-text">
                            <div class="text-min">0</div>
                            <div class="text-max">50.000.000</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="sort-list sort-btn" onclick="changeColor()">
                <i class="fa-solid fa-truck"></i>
                <span style="padding-left: 3px;"> Sẵn hàng</span>
            </div>

            <div id="criteria-dropdown" class="sort-list">
                <span style="padding-right: 3px;">Nhu cầu sử dụng</span>
                <i class="fa-solid fa-caret-down"></i>
                <div class="list-use">
                    <ul class="list-dropdown">
                        <li class="list-dropdown-item">Chơi game</li>
                        <li class="list-dropdown-item">Pin trâu</li>
                        <li class="list-dropdown-item">Dung lượng lớn</li>
                        <li class="list-dropdown-item">Cấu hình cao</li>
                        <li class="list-dropdown-item">Mỏng nhẹ</li>
                        <li class="list-dropdown-item">Chụp ảnh đẹp</li>
                    </ul>
                </div>
            </div>

            <div id="criteria-dropdown-2" class="sort-list">
                <span style="padding-right: 3px;">Hệ điều hành</span>
                <i class="fa-solid fa-caret-down"></i>
                <ul class="list-dropdown-2">
                    <li class="list-dropdown-item">iOS</li>
                    <li class="list-dropdown-item">Android</li>
                </ul>
            </div>

            <div id="criteria-dropdown-3" class="sort-list">
                <span style="padding-right: 3px;"> Bộ nhớ trong</span>
                <i class="fa-solid fa-caret-down"></i>
                <ul class="list-dropdown-3">
                    <li class="list-dropdown-item">Dưới 64GB</li>
                    <li class="list-dropdown-item">128GB và 256GB</li>
                    <li class="list-dropdown-item">Trên 512GB</li>
                </ul>
            </div>

            <div id="criteria-dropdown-4" class="sort-list">
                <span style="padding-right: 3px;"> Dung lượng ram</span>
                <i class="fa-solid fa-caret-down"></i>
                <ul class="list-dropdown-4">
                    <li class="list-dropdown-item">Dưới 4GB</li>
                    <li class="list-dropdown-item">4GB - 8GB</li>
                    <li class="list-dropdown-item">8GB - 12GB</li>
                    <li class="list-dropdown-item">Trên 12GB</li>
                </ul>
            </div>
            <div id="criteria-dropdown-5" class="sort-list">
                <span style="padding-right: 3px;"> Tính năng đặt biệt</span>
                <i class="fa-solid fa-caret-down"></i>
                <ul class="list-dropdown-5">
                    <li class="list-dropdown-item">Sạc không dây</li>
                    <li class="list-dropdown-item">Bảo mật vân tay</li>
                    <li class="list-dropdown-item">Nhận diện khuôn mặt</li>
                    <li class="list-dropdown-item">Kháng nước, kháng bụi</li>
                    <li class="list-dropdown-item">Hỗ trợ 5G</li>
                </ul>
            </div>
            <div id="criteria-dropdown-6" class="sort-list">
                <span style="padding-right: 3px;"> Tính năng camera</span>
                <i class="fa-solid fa-caret-down"></i>
                <ul class="list-dropdown-6">
                    <li class="list-dropdown-item">Chụp xóa phông</li>
                    <li class="list-dropdown-item">Chụp góc rộng</li>
                    <li class="list-dropdown-item">Quay video 4K</li>
                    <li class="list-dropdown-item">Chụp Zoom xa</li>
                    <li class="list-dropdown-item">Chụp Macro</li>
                    <li class="list-dropdown-item">Chống rung</li>
                    <li class="list-dropdown-item">Quay video 8K</li>
                </ul>
            </div>
            <div id="criteria-dropdown-7" class="sort-list">
                <span style="padding-right: 3px;"> Tần số quét</span>
                <i class="fa-solid fa-caret-down"></i>
                <ul class="list-dropdown-7">
                    <li class="list-dropdown-item">60Hz</li>
                    <li class="list-dropdown-item">90Hz</li>
                    <li class="list-dropdown-item">120Hz</li>
                    <li class="list-dropdown-item">Trên 144Hz</li>
                </ul>
            </div>
            <div id="criteria-dropdown-8" class="sort-list">
                <span style="padding-right: 3px;"> Kích thước màn hình</span>
                <i class="fa-solid fa-caret-down"></i>
                <ul class="list-dropdown-8">
                    <li class="list-dropdown-item">Trên 6 inch</li>
                    <li class="list-dropdown-item">Dưới 6 inch</li>
                </ul>
            </div>
            <div id="criteria-dropdown-9" class="sort-list">
                <span style="padding-right: 3px;"> Kiểu màn hình</span>
                <i class="fa-solid fa-caret-down"></i>
                <ul class="list-dropdown-9">
                    <li class="list-dropdown-item">Tai thỏ</li>
                    <li class="list-dropdown-item">Tràn viền ( Không khiếm khuyết)</li>
                    <li class="list-dropdown-item">Màn hình gập</li>
                    <li class="list-dropdown-item">Giọt nước</li>
                    <li class="list-dropdown-item">Đục lỗ</li>
                    <li class="list-dropdown-item">Dynamic Island</li>
                </ul>
            </div>
            <div id="criteria-dropdown-10" class="sort-list">
                <span style="padding-right: 3px;"> Chip xử lí</span>
                <i class="fa-solid fa-caret-down"></i>
                <ul class="list-dropdown-10">
                    <li class="list-dropdown-item">Snapdragon</li>
                    <li class="list-dropdown-item">Apple A</li>
                    <li class="list-dropdown-item">Mediatek Dimensicy</li>
                    <li class="list-dropdown-item">Mediatek Helio</li>
                    <li class="list-dropdown-item">Exynos</li>
                </ul>
            </div>
        </div>
        <script>let rangeInput = document.querySelectorAll('.range-input input');
    let rangeText = document.querySelectorAll('.range-text div');
    let progress = document.querySelector('.progress');
    let priceMax = rangeInput[0].max;
    let priceGap = 100000;

    rangeInput.forEach(input => {
        input.addEventListener('input', (event) => {
            let minVal = parseInt(rangeInput[0].value);
            let maxVal = parseInt(rangeInput[1].value);

            if(maxVal - minVal < priceGap){
                if(event.target.className === 'range-min'){
                    minVal = rangeInput[0].value = maxVal - priceGap;
                }else{
                    maxVal = rangeInput[1].value = minVal + priceGap;
                }
            }

            let positionMin = (minVal / priceMax) * 100;
            let positionMax = 100 - ((maxVal / priceMax) * 100);
            progress.style.left = positionMin + '%';
            progress.style.right = positionMax + '%';
            rangeText[0].style.left = positionMin + '%';
            rangeText[1].style.right = positionMax + '%';
            rangeText[0].innerText = minVal.toLocaleString();
            rangeText[1].innerText = maxVal.toLocaleString();
        })
    })

    //-----------Sort------------
    const Btnprice = document.querySelector("#criteria-dropdown-price");
    const listDropdownprice = document.querySelector(".range-price");
    addClickEvent(Btnprice, listDropdownprice);

    const Btn = document.querySelector("#criteria-dropdown");
    const listDropdown = document.querySelector(".list-dropdown");
    addClickEvent(Btn, listDropdown);

    const Btn2 = document.querySelector("#criteria-dropdown-2");
    const listDropdown2 = document.querySelector(".list-dropdown-2");
    addClickEvent(Btn2, listDropdown2);

    const Btn3 = document.querySelector("#criteria-dropdown-3");
    const listDropdown3 = document.querySelector(".list-dropdown-3");
    addClickEvent(Btn3, listDropdown3);

    const Btn4 = document.querySelector("#criteria-dropdown-4");
    const listDropdown4 = document.querySelector(".list-dropdown-4");
    addClickEvent(Btn4, listDropdown4);

    const Btn5 = document.querySelector("#criteria-dropdown-5");
    const listDropdown5 = document.querySelector(".list-dropdown-5");
    addClickEvent(Btn5, listDropdown5);

    const Btn6 = document.querySelector("#criteria-dropdown-6");
    const listDropdown6 = document.querySelector(".list-dropdown-6");
    addClickEvent(Btn6, listDropdown6);

    const Btn7 = document.querySelector("#criteria-dropdown-7");
    const listDropdown7 = document.querySelector(".list-dropdown-7");
    addClickEvent(Btn7, listDropdown7);

    const Btn8 = document.querySelector("#criteria-dropdown-8");
    const listDropdown8 = document.querySelector(".list-dropdown-8");
    addClickEvent(Btn8, listDropdown8);

    const Btn9 = document.querySelector("#criteria-dropdown-9");
    const listDropdown9 = document.querySelector(".list-dropdown-9");
    addClickEvent(Btn9, listDropdown9);

    const Btn10 = document.querySelector("#criteria-dropdown-10");
    const listDropdown10 = document.querySelector(".list-dropdown-10");
    addClickEvent(Btn10, listDropdown10);

    function addClickEvent(Btn, listDropdown) {
        Btn.addEventListener("click", function () {
            listDropdown.style.display = "flex";
        });

        document.addEventListener("click", function (event) {
            if (!listDropdown.contains(event.target) && !Btn.contains(event.target)) {
                listDropdown.style.display = "none";
            }
        });
    }</script>
    </div>

    <div>
        <div class="category-sort" style="margin-bottom: 20px; margin-top: 20px;">
            <strong>Sắp xếp theo</strong>
        </div>
        <div class="category-list">
            <div class="sort-list sort-list-changeColor" onclick="toggleColorSee(this)">
                <i class="fa-solid fa-arrow-down-wide-short"></i>
                <span style="padding-left: 3px;"> Giá cao - thấp</span>
            </div>
            <div class="sort-list sort-list-changeColor" onclick="toggleColorSee(this)">
                <i class="fa-solid fa-arrow-down-short-wide"></i>
                <span style="padding-left: 3px;"> Giá thấp - cao</span>
            </div>
            <div class="sort-list sort-list-changeColor" onclick="toggleColorSee(this)">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <span style="padding-left: 3px;"> Khuyến mãi hot</span>
            </div>
            <div class="sort-list sort-list-changeColor" onclick="toggleColorSee(this)">
                <i class="fa-regular fa-eye"></i>
                <span style="padding-left: 3px;"> Xem nhiều</span>
            </div>

        </div>
    </div>



</div>




<div id="content">
    <div class="product-wrap">
        <div class="product">
            <ul class="product-list">
                <a href="@Url.Action("SanPham", "Product")">Sản phẩm</a>

                <li class="product-item">
                    <div class="product-discount-wrap">
                        <div class="product-discount">Giảm 13%</div>
                        <div class="product-installment">Góp 0%</div>
                    </div>
                    <div class="product-img-wrap">
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-15-pro-max_3.png" alt="" class="product-img">
                    </div>
                    <div class="product-title">iPhone 15 Pro Max 256GB | <span>Chính hãng VN/A</span></div>
                    <div class="product-price">25.990.000₫ </div>
                    <div class="product-old-price "><del>29.990.000₫</del> </div>
                    <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                    <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                    <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                    <footer class="product-fav">
                        <span>Yêu thích</span>
                        <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                    </footer>
                </li>
                </a>


                <li class="product-item">
                    <div class="product-discount-wrap">
                        <div class="product-discount">Giảm 13%</div>
                        <div class="product-installment">Góp 0%</div>
                    </div>
                    <div class="product-img-wrap">
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/g/t/gtt_7766_3__1_5.jpg" alt="" class="product-img">
                    </div>
                    <div class="product-title">Xiaomi Redmi Note 12 8GB 128GB | <span>Chính hãng VN/A</span></div>
                    <div class="product-price">25.990.000₫ </div>
                    <div class="product-old-price "><del>29.990.000₫</del> </div>
                    <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                    <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                    <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                    <footer class="product-fav">
                        <span>Yêu thích</span>
                        <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                    </footer>
                </li>

                <li class="product-item">
                    <div class="product-discount-wrap">
                        <div class="product-discount">Giảm 13%</div>
                        <div class="product-installment">Góp 0%</div>
                    </div>
                    <div class="product-img-wrap">
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/f/i/find-n3-flip-vang_1.png" alt="" class="product-img">
                    </div>
                    <div class="product-title">OPPO Find N3 Flip 12GB 256GB | <span>Chính hãng VN/A</span></div>
                    <div class="product-price">25.990.000₫ </div>
                    <div class="product-old-price "><del>29.990.000₫</del> </div>
                    <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                    <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                    <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                    <footer class="product-fav">
                        <span>Yêu thích</span>
                        <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                    </footer>
                </li>

                <li class="product-item">
                    <div class="product-discount-wrap">
                        <div class="product-discount">Giảm 13%</div>
                        <div class="product-installment">Góp 0%</div>
                    </div>
                    <div class="product-img-wrap">
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-15-plus_1__1.png" alt="" class="product-img">
                    </div>
                    <div class="product-title">iPhone 15 128GB | <span>Chính hãng VN/A</span></div>
                    <div class="product-price">25.990.000₫ </div>
                    <div class="product-old-price "><del>29.990.000₫</del> </div>
                    <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                    <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                    <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                    <footer class="product-fav">
                        <span>Yêu thích</span>
                        <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                    </footer>
                </li>

                <li class="product-item">
                    <div class="product-discount-wrap">
                        <div class="product-discount">Giảm 13%</div>
                        <div class="product-installment">Góp 0%</div>
                    </div>
                    <div class="product-img-wrap">
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-15-plus_1__1.png" alt="" class="product-img">
                    </div>
                    <div class="product-title">Samsung Galaxy S22 Ultra | <span>Chính hãng VN/A</span></div>
                    <div class="product-price">25.990.000₫ </div>
                    <div class="product-old-price "><del>29.990.000₫</del> </div>
                    <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                    <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                    <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                    <footer class="product-fav">
                        <span>Yêu thích</span>
                        <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                    </footer>
                </li>
            </ul>
            <ul class="product-list">
                <li class="product-item">
                    <div class="product-discount-wrap">
                        <div class="product-discount">Giảm 10%</div>
                        <div class="product-installment">Góp 0%</div>
                    </div>
                    <div class="product-img-wrap">
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/s/a/samsung-galaxy-s23-ultra.png" alt="" class="product-img">
                    </div>
                    <div class="product-title">Samsung Galaxy S23 Ultra 256GB | <span>Chính hãng VN/A</span></div>
                    <div class="product-price">27.000.000₫ </div>
                    <div class="product-old-price "><del>30.000.000₫</del> </div>
                    <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                    <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                    <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                    <footer class="product-fav">
                        <span>Yêu thích</span>
                        <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                    </footer>
                </li>

                <li class="product-item">
                    <div class="product-discount-wrap">
                        <div class="product-discount">Giảm 13%</div>
                        <div class="product-installment">Góp 0%</div>
                    </div>
                    <div class="product-img-wrap">
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/s/a/samsung-galaxy-s22-ultra-12gb-256gb.png" alt="" class="product-img">
                    </div>
                    <div class="product-title">Xiaomi Redmi Note 12 4GB 128GB | <span>Chính hãng VN/A</span></div>
                    <div class="product-price">25.990.000₫ </div>
                    <div class="product-old-price "><del>29.990.000₫</del> </div>
                    <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                    <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                    <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                    <footer class="product-fav">
                        <span>Yêu thích</span>
                        <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                    </footer>
                </li>

                <li class="product-item">
                    <div class="product-discount-wrap">
                        <div class="product-discount">Giảm 13%</div>
                        <div class="product-installment">Góp 0%</div>
                    </div>
                    <div class="product-img-wrap">
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/x/i/xiaomi-redmi-note-12_1.png" alt="" class="product-img">
                    </div>
                    <div class="product-title">Samsung Galaxy Z Flip5 256GB | <span>Chính hãng VN/A</span></div>
                    <div class="product-price">25.990.000₫ </div>
                    <div class="product-old-price "><del>29.990.000₫</del> </div>
                    <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                    <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                    <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                    <footer class="product-fav">
                        <span>Yêu thích</span>
                        <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                    </footer>
                </li>

                <li class="product-item">
                    <div class="product-discount-wrap">
                        <div class="product-discount">Giảm 13%</div>
                        <div class="product-installment">Góp 0%</div>
                    </div>
                    <div class="product-img-wrap">
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/s/a/samsung-galaxy-z-flip-5-256gb_1_4.png" alt="" class="product-img">
                    </div>
                    <div class="product-title">Xiaomi Redmi 13C 6GB 128GB | <span>Chính hãng VN/A</span></div>
                    <div class="product-price">25.990.000₫ </div>
                    <div class="product-old-price "><del>29.990.000₫</del> </div>
                    <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                    <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                    <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                    <footer class="product-fav">
                        <span>Yêu thích</span>
                        <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                    </footer>
                </li>

                <li class="product-item">
                    <div class="product-discount-wrap">
                        <div class="product-discount">Giảm 13%</div>
                        <div class="product-installment">Góp 0%</div>
                    </div>
                    <div class="product-img-wrap">
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/x/i/xiaomi-redmi-13c_21__1.png" alt="" class="product-img">
                    </div>
                    <div class="product-title">OPPO Find N3 16GB 512GB | <span>Chính hãng VN/A</span></div>
                    <div class="product-price">25.990.000₫ </div>
                    <div class="product-old-price "><del>29.990.000₫</del> </div>
                    <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                    <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                    <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                    <footer class="product-fav">
                        <span>Yêu thích</span>
                        <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                    </footer>
                </li>
            </ul>

            <div class="more-product">
                <ul class="product-list">
                    <li class="product-item">
                        <div class="product-discount-wrap">
                            <div class="product-discount">Giảm 13%</div>
                            <div class="product-installment">Góp 0%</div>
                        </div>
                        <div class="product-img-wrap">
                            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/f/i/find_n3_-_combo_product_-_gold.png" alt="" class="product-img">
                        </div>
                        <div class="product-title">Samsung Galaxy Z Fold5 12GB 256GB | <span>Chính hãng VN/A</span></div>
                        <div class="product-price">25.990.000₫ </div>
                        <div class="product-old-price "><del>29.990.000₫</del> </div>
                        <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                        <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                        <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                        <footer class="product-fav">
                            <span>Yêu thích</span>
                            <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                        </footer>
                    </li>

                    <li class="product-item">
                        <div class="product-discount-wrap">
                            <div class="product-discount">Giảm 13%</div>
                            <div class="product-installment">Góp 0%</div>
                        </div>
                        <div class="product-img-wrap">
                            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-13_2_.png" alt="" class="product-img">
                        </div>
                        <div class="product-title">iPhone 13 128GB  | <span>Chính hãng VN/A</span></div>
                        <div class="product-price">25.990.000₫ </div>
                        <div class="product-old-price "><del>29.990.000₫</del> </div>
                        <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                        <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                        <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                        <footer class="product-fav">
                            <span>Yêu thích</span>
                            <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                        </footer>
                    </li>

                    <li class="product-item">
                        <div class="product-discount-wrap">
                            <div class="product-discount">Giảm 13%</div>
                            <div class="product-installment">Góp 0%</div>
                        </div>
                        <div class="product-img-wrap">
                            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-15-plus-256gb_2.png" alt="" class="product-img">
                        </div>
                        <div class="product-title">iPhone 15 Plus 128GB  | <span>Chính hãng VN/A</span></div>
                        <div class="product-price">25.990.000₫ </div>
                        <div class="product-old-price "><del>29.990.000₫</del> </div>
                        <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                        <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                        <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                        <footer class="product-fav">
                            <span>Yêu thích</span>
                            <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                        </footer>
                    </li>

                    <li class="product-item">
                        <div class="product-discount-wrap">
                            <div class="product-discount">Giảm 13%</div>
                            <div class="product-installment">Góp 0%</div>
                        </div>
                        <div class="product-img-wrap">
                            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-13_2_.png" alt="" class="product-img">
                        </div>
                        <div class="product-title">iPhone 13 Pro Max 128GB | <span>Chính hãng VN/A</span></div>
                        <div class="product-price">25.990.000₫ </div>
                        <div class="product-old-price "><del>29.990.000₫</del> </div>
                        <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                        <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                        <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                        <footer class="product-fav">
                            <span>Yêu thích</span>
                            <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                        </footer>
                    </li>

                    <li class="product-item">
                        <div class="product-discount-wrap">
                            <div class="product-discount">Giảm 13%</div>
                            <div class="product-installment">Góp 0%</div>
                        </div>
                        <div class="product-img-wrap">
                            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-15-plus_1_.png" alt="" class="product-img">
                        </div>
                        <div class="product-title">iPhone 15 Pro 128GB  | <span>Chính hãng VN/A</span></div>
                        <div class="product-price">25.990.000₫ </div>
                        <div class="product-old-price "><del>29.990.000₫</del> </div>
                        <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                        <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                        <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                        <footer class="product-fav">
                            <span>Yêu thích</span>
                            <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                        </footer>
                    </li>
                </ul>
                <ul class="product-list">
                    <li class="product-item">
                        <div class="product-discount-wrap">
                            <div class="product-discount">Giảm 13%</div>
                            <div class="product-installment">Góp 0%</div>
                        </div>
                        <div class="product-img-wrap">
                            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-13-pro-max.png" alt="" class="product-img">
                        </div>
                        <div class="product-title">iPhone 12 Pro Max 128GB | <span>Chính hãng VN/A</span></div>
                        <div class="product-price">25.990.000₫ </div>
                        <div class="product-old-price "><del>29.990.000₫</del> </div>
                        <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                        <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                        <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                        <footer class="product-fav">
                            <span>Yêu thích</span>
                            <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                        </footer>
                    </li>
                    <li class="product-item">
                        <div class="product-discount-wrap">
                            <div class="product-discount">Giảm 13%</div>
                            <div class="product-installment">Góp 0%</div>
                        </div>
                        <div class="product-img-wrap">
                            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-15-pro-max_4.png" alt="" class="product-img">
                        </div>
                        <div class="product-title">Xiaomi 13T Pro 5G | <span>Chính hãng VN/A</span></div>
                        <div class="product-price">25.990.000₫ </div>
                        <div class="product-old-price "><del>29.990.000₫</del> </div>
                        <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                        <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                        <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                        <footer class="product-fav">
                            <span>Yêu thích</span>
                            <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                        </footer>
                    </li>
                    <li class="product-item">
                        <div class="product-discount-wrap">
                            <div class="product-discount">Giảm 13%</div>
                            <div class="product-installment">Góp 0%</div>
                        </div>
                        <div class="product-img-wrap">
                            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/x/i/xiaomi-13-pro-thumb-xanh-la9.jpg" alt="" class="product-img">
                        </div>
                        <div class="product-title">iPhone 14 128GB | <span>Chính hãng VN/A</span></div>
                        <div class="product-price">25.990.000₫ </div>
                        <div class="product-old-price "><del>29.990.000₫</del> </div>
                        <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                        <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                        <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                        <footer class="product-fav">
                            <span>Yêu thích</span>
                            <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                        </footer>
                    </li>

                    <li class="product-item">
                        <div class="product-discount-wrap">
                            <div class="product-discount">Giảm 13%</div>
                            <div class="product-installment">Góp 0%</div>
                        </div>
                        <div class="product-img-wrap">
                            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-14_1.png" alt="" class="product-img">
                        </div>
                        <div class="product-title">Infinix Hot 30 8GB 256GB | <span>Chính hãng VN/A</span></div>
                        <div class="product-price">25.990.000₫ </div>
                        <div class="product-old-price "><del>29.990.000₫</del> </div>
                        <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                        <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                        <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                        <footer class="product-fav">
                            <span>Yêu thích</span>
                            <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                        </footer>
                    </li>

                    <li class="product-item">
                        <div class="product-discount-wrap">
                            <div class="product-discount">Giảm 13%</div>
                            <div class="product-installment">Góp 0%</div>
                        </div>
                        <div class="product-img-wrap">
                            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/n/u/nubia-neo-5g_2_1.png" alt="" class="product-img">
                        </div>
                        <div class="product-title">TECNO POVA 5 8GB 128GB | <span>Chính hãng VN/A</span></div>
                        <div class="product-price">25.990.000₫ </div>
                        <div class="product-old-price "><del>29.990.000₫</del> </div>
                        <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                        <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                        <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                        <footer class="product-fav">
                            <span>Yêu thích</span>
                            <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                        </footer>
                    </li>
                </ul>
            </div>

            <div class="show-more-product"> Xem thêm </div>
        </div>

        <div class="product-box">
            <div class="product-box-content">
                <h2>Điện thoại di động – Vật “bất li thân” ở thời đại công nghệ</h2>
                <p>
                    <b>Điện thoại di động</b> dường như là <b>một phần không thể thiếu trong cuộc sống</b>
                    hiện đại ngày nay. Với sự đa dạng về thiết kế, thương hiệu cùng với đó là tính năng đa dạng
                    giúp người dùng thoải mái kết nối cũng như theo dõi, cập nhật các thông tin mới mẻ hấp dẫn.
                    Chắc chắn rằng khi sở hữu bạn sẽ có những giây phút giải trí ấn tượng và thú vị hơn mọi ngày.
                    Hơn nữa, điện thoại di động cũng trở thành công cụ quan trọng giúp hỗ trợ đắc lực người dùng
                    trong cuộc sống lẫn công việc.
                </p>
                <img src="/pic/Bat-mi-5-meo-chup-anh-chan-dung-sieu-dep-tren-galaxy-s23-xtmobile.webp">
                <h3>Các chức năng chính của điện thoại di động:</h3>
                <p>
                    <b>- Giao tiếp và kết nối:</b> Điện thoại di động cho phép người dùng liên lạc và
                    kết nối với nhau mọi lúc, mọi nơi thông qua các hình thức như: gọi, nhắn tin, gửi
                    email, thậm chí video call với người thân, bạn bè, đồng nghiệp và đối tác kinh doanh
                    ở bất kỳ đâu trên thế giới. Từ đó giúp thu gọn khoảng cách và tạo ra sự gắn kết trong
                    xã hội hiện đại.<br>
                    <b>- Truy cập thông tin:</b>Điện thoại thông minh còn giúp người dùng có thể dễ dàng
                    truy cập vào internet và tìm kiếm thông tin chỉ bằng một vài lần chạm. Điều này giúp
                    bạn dễ dàng nắm bắt cập nhật về tin tức, kiến thức và xu hướng trong thời gian thực. <br>
                    <b>- Giải trí:</b>Điện thoại di động giờ đây còn là một công cụ giải trí đa năng. Bạn có
                    thể nghe nhạc, xem phim, đọc sách điện tử, chơi game và truy cập vào các ứng dụng giải trí
                    khác trực tiếp trên thiết bị. Đây là cách vô cùng thuận tiện giúp mọi người có thể thư giãn
                    và giải trí tiện ích hơn trong cuộc sống bận rộn.<br>
                    <b>- Quản lý cuộc sống:</b>Trên điện thoại di động có chứa các ứng dụng giúp người dùng có thể
                    dễ dàng quản lý cuộc sống hàng ngày. Chúng có thể là ứng dụng lên kế hoạch, tổ chức công việc hay
                    nhắc nhở sự kiện, thông tin quan trọng. Bên cạnh đó còn vô vàn ứng dụng khác cực kỳ hữu ích với
                    người dùng.<br>
                </p>
                <div class="more-content">
                    <p>
                        Ngày nay, thị trường di động luôn chứng kiến sự cạnh tranh vô cùng khốc liệt giữa các nhà sản xuất.
                        Họ sẵn sàng đầu tư nghiên cứu để liên tục cho ra đời những chiếc điện thoại mới nhất chất lượng, từ
                        giá rẻ, tầm trung, cận cao cấp cho đến cao cấp để đáp ứng tối đa nhu cầu của mọi đối tượng người dùng.
                    </p>
                    <h5>Bảng đặc điểm và thông số của điện thoại smartphone:</h5>
                    <table border="1" class="table-phone" style="border-color: black;">
                        <tr>
                            <th>RAM</th>
                            <td>2GB - 12GB</td>
                            <th>Bộ nhớ trong</th>
                            <td>32Gb - 1 TB</td>
                        </tr>
                        <tr>
                            <th>Kích thước màn hình</th>
                            <td>4.7 inch - 7.6 inch</td>
                            <th>Tần số quét</th>
                            <td>60Hz - 144Hz</td>
                        </tr>
                        <tr>
                            <th>Camera sau</th>
                            <td>1 camera - 4 camera</td>
                            <th>Pin</th>
                            <td>2.406mAh - 6.000mAh</td>
                        </tr>
                        <tr>
                            <th>Hệ điều hành</th>
                            <td>iOS, Android</td>
                            <th>Giá bán</th>
                            <td>2.000.000đ - Trên 20.000.000đ</td>
                        </tr>
                    </table>
                    <h3>Có mấy loại điện thoại di động?</h3>
                    <p>
                        Hiện nay <b>điện thoại</b> được chia thành nhiều loại khác nhau tùy thuộc vào mục đích
                        cũng như nhu cầu. Dưới đây là 2 <b>phân loại điện thoại di động</b> dựa trên <b>
                            chức
                            năng và tính năng được tích hợp
                        </b> trên thiết bị:
                    </p>
                    <h5>Điện thoại thông minh</h5>
                    <p>
                        Thông qua các thiết bị điện thoại thông minh giá rẻ smartphone bạn có thể thể truy cập internet,
                        chạy ứng dụng, chụp ảnh và quay video chất lượng cao, nghe nhạc, xem phim, và có thể thực hiện
                        được thêm nhiều chức năng khác nhau như làm việc, giải trí, giao tiếp xã hội và quản lý hiệu quả
                        các thông tin cá nhân.<br>
                        Các thương hiệu điện thoại thông minh nổi tiếng, quen thuộc như: Apple (iPhone), Samsung, OPPO,
                        Vivo, Xiaomi, Huawei, Sony, Oneplus, Realme,...
                    </p>
                    <img src="/pic-phone/camera-00.jpg.webp">
                    <h5>Điện thoại phổ thông</h5>
                    <p>
                        Điện thoại phổ thông là những mẫu điện thoại tập trung vào các chức năng nghe – gọi là chính.
                        Đây là dòng điện thoại được xuất hiện đầu tiên trên thị trường với những tính năng vô cùng đơn giản.<br>
                        Trên dòng điện thoại này, người dùng có thể thao tác được với các chức năng cơ bản như gọi điện, nhắn tin
                        và có thể một số tính năng như FM radio, máy ảnh cơ bản.
                    </p>
                    <h3> Phân loại điện thoại thông minh theo nhu cầu</h3>
                    <p>
                        Ngoài cách phân loại như đã liệt kê bên trên thì điện thoại thông minh còn được phân loại theo nhu
                        cầu sử dụng. Dưới đây là chi tiết phân loại cho các bạn quan tâm, tìm kiếm và tham khảo.
                    </p>
                    <h5>Điện thoại chuyên chơi game</h5>
                    <p>Điện thoại chuyên chơi game là dòng sản phẩm được thiết kế đặc biệt để cung cấp cho người dùng trải nghiệm chơi game tốt nhất. </p>
                    <img src="/pic-phone/dt-game.jpeg">
                    <p>
                        Thông thường, các điện thoại thuộc dòng gaming được trang bị các tính năng và hiệu năng mạnh mẽ nhằm đáp ứng yêu cầu đồ họa và xử lý phức tạp
                        của các trò chơi di động. Bên cạnh đó là hệ thống tản nhiệt ấn tượng, pin dung lượng lớn, màn hình hiển thị sắc nét, âm thanh chất lượng,...
                        Tất cả sẽ giúp bạn thoải mái tận hưởng và đắm chìm trong mọi trận game
                    </p>
                    <h5>Điện thoại smartphone pin trâu</h5>
                    <p>
                        Điện thoại smartphone pin trâu là một khái niệm thông thường được sử dụng để chỉ những điện thoại di động được trang bị viên pin có thời
                        lượng sử dụng dài hơn so với các điện thoại thông thường.
                    </p>
                    <img src="/pic-phone/samsunggalaxym62_1280x720-800-resize.jpg">
                    <p>
                        Thông thường điện thoại được gọi là "pin trâu" sẽ có dung lượng pin lớn, từ 4.000mAh trở lên. Điều này cho phép thiết bị có thể sử dụng được
                        trong một khoảng thời gian dài trước khi cần sạc lại. Ngoài ra, các sản phẩm thuộc dòng điện thoại này thường được tối ưu hóa để tiết kiệm năng
                        lượng và quản lý pin hiệu quả, giúp kéo dài thời gian sử dụng một cách tối ưu.
                    </p>
                    <h5>Điện thoại dung lượng lớn</h5>
                    <p>
                        Điện thoại dung lượng lớn là những điện thoại được trang bị dung lượng, là không gian để lưu trữ dữ liệu như ảnh, video, ứng dụng và tệp tin khác
                        trên thiết bị. Dung lượng lưu trữ được đo bằng đơn vị gigabyte (GB) hoặc terabyte (TB).
                    </p>
                    <img src="/pic-phone/samsung-galaxy-m51-ra-mat.jpg">
                    <p>
                        Những sản phẩm điện thoại dung lượng lớn sẽ cung cấp không gian lưu trữ rộng hơn cho người dùng, cho phép lưu trữ nhiều dữ liệu hơn trên thiết bị mà không
                        cần phải lo lắng về việc hết dung lượng. Điều này đặc biệt hữu ích khi bạn muốn lưu trữ nhiều ảnh, video chất lượng cao, tải xuống ứng dụng nặng, hoặc lưu trữ
                        nhiều tệp tin và tài liệu trên điện thoại.
                    </p>
                    <h5>Smartphone cấu hình cao</h5>
                    <p>Điện thoại cấu hình cao là dòng sản phẩm được trang bị các linh kiện, phụ kiện cao cấp giúp cho ra đời 1 phiên bản hấp dẫn, ấn tượng và cực kỳ thu hút được người tiêu dùng.</p>
                    <h5>Điện thoại thông minh mỏng nhẹ</h5>
                    <p>Đúng như tên gọi của chúng, điện thoại thông minh mỏng nhẹ là dòng sản phẩm được tối ưu về thiết kế giúp chúng sở hữu vẻ ngoài mỏng, ấn tượng nhưng vẫn đáp ứng được tối đa nhu cầu sử dụng của người dùng.</p>
                    <img src="/pic-phone/mongnhe.png">
                    <p>Nhờ thiết kế mỏng nhẹ, điện thoại giúp người dùng có thể cầm nắm chắc chắn và dễ dàng hơn trong việc thao tác trên thiết bị.</p>
                    <h3>Mua smartphone giá rẻ tại cửa hàng bán điện thoại CellphoneS</h3>
                    <ul>
                        <li>Tại hệ thống cửa hàng điện thoại <a href="" style="color: red; text-decoration: none;">CellphoneS</a> tất cả các sản phẩm đều có xuất xứ rõ ràng và hóa đơn đầy đủ</li>
                        <li>Bảo hành chính hãng 12 tháng, 1 đổi 1 trong 30 ngày đầu tiên</li>
                        <li>Giá bán hấp dẫn trên thị trường. Nhiều chương trình khuyến mãi hấp dẫn. Chương trình thu cũ đổi mới, lên đời điện thoại</li>
                        <li>Nhiều dịch vụ tiện ích: trả góp 0% qua thẻ tính dụng với hơn 20 ngân hàng. Thanh toán online, thanh toán bằng thẻ, giao hàng và thu tiền tại nhà miễn phí trên toàn quốc.</li>
                        <li>Đội ngũ nhân viên tư vấn offline và chăm sóc khách hàng online luôn sẵn sàng giải đáp mọi thắc mắc, đáp ứng tối đa nhu cầu của người dùng.</li>
                    </ul>
                </div>
                <div class="show-more-content"> Xem thêm </div>
            </div>

            <div class="product-box-ads">
                <h3><i class="fa-solid fa-newspaper"></i> Tin tức công nghệ</h3>
                <a href="">
                    <img src="https://cdn.sforum.vn/sforum/wp-content/uploads/2023/10/oppo-find-n3-vs-samsung-galaxy-fold5-thumb.jpg" alt="">
                    <p>So sánh OPPO Find N3 và Galaxy Z Fold5: Đâu là chiếc điện thoại gập cao cấp đáng mua nhất ở thời điểm này?</p>
                </a>
                <a href="">
                    <img src="https://cdn.sforum.vn/sforum/wp-content/uploads/2023/10/oppo-find-n3-vs-samsung-galaxy-fold5-thumb.jpg" alt="">
                    <p>So sánh OPPO Find N3 và Galaxy Z Fold5: Đâu là chiếc điện thoại gập cao cấp đáng mua nhất ở thời điểm này?</p>
                </a>
                <a href="">
                    <img src="https://cdn.sforum.vn/sforum/wp-content/uploads/2023/10/oppo-find-n3-vs-samsung-galaxy-fold5-thumb.jpg" alt="">
                    <p>So sánh OPPO Find N3 và Galaxy Z Fold5: Đâu là chiếc điện thoại gập cao cấp đáng mua nhất ở thời điểm này?</p>
                </a>
                <a href="">
                    <img src="https://cdn.sforum.vn/sforum/wp-content/uploads/2023/10/oppo-find-n3-vs-samsung-galaxy-fold5-thumb.jpg" alt="">
                    <p>So sánh OPPO Find N3 và Galaxy Z Fold5: Đâu là chiếc điện thoại gập cao cấp đáng mua nhất ở thời điểm này?</p>
                </a>
                <a href="" class="show-post-all">Xem tất cả bài viết<i class="fa-solid fa-chevron-down"></i></a>
            </div>
        </div>

    </div>
</div>*@
