@{
    ViewBag.Title = "Phone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar-line">
    <div class="navbar-link">
        <a asp-controller="Home" asp-action="TrangChu" style="text-decoration: none"><i class="fa-solid fa-house" style="color: red;"></i><span>Trang chủ</span></a><i class="fa-solid fa-angle-right"></i><span>Điện thoại</span>
    </div>
</div>

<div class="category">
    <div>
        <div class="category-sort" style="margin-bottom: 20px; margin-top: 20px;">
            <strong>Chọn theo tiêu chí</strong>
        </div>
        <div class="category-list">
            <div id="criteria-dropdown-price" class="sort-list">
                <i class="fa-solid fa-money-bill"></i>
                <span style="padding-left: 3px;"> Giá</span>
                <div class="range-price">
                    <div class="group">
                        <div class="progress"></div>
                        <div class="range-input">
                            <input class="range-min" min="0" max="50000000" type="range" value="0" step="100000">
                            <input class="range-max" min="0" max="50000000" type="range" value="50000000" step="100000">
                        </div>
                        <div class="range-text">
                            <div class="text-min">0</div>
                            <div class="text-max">50.000.000</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="sort-list sort-btn" onclick="changeColor()">
                <i class="fa-solid fa-truck"></i>
                <span style="padding-left: 3px;"> Sẵn hàng</span>
            </div>

            <div id="criteria-dropdown" class="sort-list">
                <span style="padding-right: 3px;">Nhu cầu sử dụng</span>
                <i class="fa-solid fa-caret-down"></i>
                <div class="list-use">
                    <ul class="list-dropdown">
                        <li class="list-dropdown-item">Chơi game</li>
                        <li class="list-dropdown-item">Pin trâu</li>
                        <li class="list-dropdown-item">Dung lượng lớn</li>
                        <li class="list-dropdown-item">Cấu hình cao</li>
                        <li class="list-dropdown-item">Mỏng nhẹ</li>
                        <li class="list-dropdown-item">Chụp ảnh đẹp</li>
                    </ul>
                </div>
            </div>

            <div id="criteria-dropdown-2" class="sort-list">
                <span style="padding-right: 3px;">Hệ điều hành</span>
                <i class="fa-solid fa-caret-down"></i>
                <ul class="list-dropdown-2">
                    <li class="list-dropdown-item">iOS</li>
                    <li class="list-dropdown-item">Android</li>
                </ul>
            </div>

            <div id="criteria-dropdown-3" class="sort-list">
                <span style="padding-right: 3px;"> Bộ nhớ trong</span>
                <i class="fa-solid fa-caret-down"></i>
                <ul class="list-dropdown-3">
                    <li class="list-dropdown-item">Dưới 64GB</li>
                    <li class="list-dropdown-item">128GB và 256GB</li>
                    <li class="list-dropdown-item">Trên 512GB</li>
                </ul>
            </div>

            <div id="criteria-dropdown-4" class="sort-list">
                <span style="padding-right: 3px;"> Dung lượng ram</span>
                <i class="fa-solid fa-caret-down"></i>
                <ul class="list-dropdown-4">
                    <li class="list-dropdown-item">Dưới 4GB</li>
                    <li class="list-dropdown-item">4GB - 8GB</li>
                    <li class="list-dropdown-item">8GB - 12GB</li>
                    <li class="list-dropdown-item">Trên 12GB</li>
                </ul>
            </div>
            <div id="criteria-dropdown-5" class="sort-list">
                <span style="padding-right: 3px;"> Tính năng đặt biệt</span>
                <i class="fa-solid fa-caret-down"></i>
                <ul class="list-dropdown-5">
                    <li class="list-dropdown-item">Sạc không dây</li>
                    <li class="list-dropdown-item">Bảo mật vân tay</li>
                    <li class="list-dropdown-item">Nhận diện khuôn mặt</li>
                    <li class="list-dropdown-item">Kháng nước, kháng bụi</li>
                    <li class="list-dropdown-item">Hỗ trợ 5G</li>
                </ul>
            </div>
            <div id="criteria-dropdown-6" class="sort-list">
                <span style="padding-right: 3px;"> Tính năng camera</span>
                <i class="fa-solid fa-caret-down"></i>
                <ul class="list-dropdown-6">
                    <li class="list-dropdown-item">Chụp xóa phông</li>
                    <li class="list-dropdown-item">Chụp góc rộng</li>
                    <li class="list-dropdown-item">Quay video 4K</li>
                    <li class="list-dropdown-item">Chụp Zoom xa</li>
                    <li class="list-dropdown-item">Chụp Macro</li>
                    <li class="list-dropdown-item">Chống rung</li>
                    <li class="list-dropdown-item">Quay video 8K</li>
                </ul>
            </div>
            <div id="criteria-dropdown-7" class="sort-list">
                <span style="padding-right: 3px;"> Tần số quét</span>
                <i class="fa-solid fa-caret-down"></i>
                <ul class="list-dropdown-7">
                    <li class="list-dropdown-item">60Hz</li>
                    <li class="list-dropdown-item">90Hz</li>
                    <li class="list-dropdown-item">120Hz</li>
                    <li class="list-dropdown-item">Trên 144Hz</li>
                </ul>
            </div>
            <div id="criteria-dropdown-8" class="sort-list">
                <span style="padding-right: 3px;"> Kích thước màn hình</span>
                <i class="fa-solid fa-caret-down"></i>
                <ul class="list-dropdown-8">
                    <li class="list-dropdown-item">Trên 6 inch</li>
                    <li class="list-dropdown-item">Dưới 6 inch</li>
                </ul>
            </div>
            <div id="criteria-dropdown-9" class="sort-list">
                <span style="padding-right: 3px;"> Kiểu màn hình</span>
                <i class="fa-solid fa-caret-down"></i>
                <ul class="list-dropdown-9">
                    <li class="list-dropdown-item">Tai thỏ</li>
                    <li class="list-dropdown-item">Tràn viền ( Không khiếm khuyết)</li>
                    <li class="list-dropdown-item">Màn hình gập</li>
                    <li class="list-dropdown-item">Giọt nước</li>
                    <li class="list-dropdown-item">Đục lỗ</li>
                    <li class="list-dropdown-item">Dynamic Island</li>
                </ul>
            </div>
            <div id="criteria-dropdown-10" class="sort-list">
                <span style="padding-right: 3px;"> Chip xử lí</span>
                <i class="fa-solid fa-caret-down"></i>
                <ul class="list-dropdown-10">
                    <li class="list-dropdown-item">Snapdragon</li>
                    <li class="list-dropdown-item">Apple A</li>
                    <li class="list-dropdown-item">Mediatek Dimensicy</li>
                    <li class="list-dropdown-item">Mediatek Helio</li>
                    <li class="list-dropdown-item">Exynos</li>
                </ul>
            </div>
        </div>
        <script>let rangeInput = document.querySelectorAll('.range-input input');
    let rangeText = document.querySelectorAll('.range-text div');
    let progress = document.querySelector('.progress');
    let priceMax = rangeInput[0].max;
    let priceGap = 100000;

    rangeInput.forEach(input => {
        input.addEventListener('input', (event) => {
            let minVal = parseInt(rangeInput[0].value);
            let maxVal = parseInt(rangeInput[1].value);

            if(maxVal - minVal < priceGap){
                if(event.target.className === 'range-min'){
                    minVal = rangeInput[0].value = maxVal - priceGap;
                }else{
                    maxVal = rangeInput[1].value = minVal + priceGap;
                }
            }

            let positionMin = (minVal / priceMax) * 100;
            let positionMax = 100 - ((maxVal / priceMax) * 100);
            progress.style.left = positionMin + '%';
            progress.style.right = positionMax + '%';
            rangeText[0].style.left = positionMin + '%';
            rangeText[1].style.right = positionMax + '%';
            rangeText[0].innerText = minVal.toLocaleString();
            rangeText[1].innerText = maxVal.toLocaleString();
        })
    })

    //-----------Sort------------
    const Btnprice = document.querySelector("#criteria-dropdown-price");
    const listDropdownprice = document.querySelector(".range-price");
    addClickEvent(Btnprice, listDropdownprice);

    const Btn = document.querySelector("#criteria-dropdown");
    const listDropdown = document.querySelector(".list-dropdown");
    addClickEvent(Btn, listDropdown);

    const Btn2 = document.querySelector("#criteria-dropdown-2");
    const listDropdown2 = document.querySelector(".list-dropdown-2");
    addClickEvent(Btn2, listDropdown2);

    const Btn3 = document.querySelector("#criteria-dropdown-3");
    const listDropdown3 = document.querySelector(".list-dropdown-3");
    addClickEvent(Btn3, listDropdown3);

    const Btn4 = document.querySelector("#criteria-dropdown-4");
    const listDropdown4 = document.querySelector(".list-dropdown-4");
    addClickEvent(Btn4, listDropdown4);

    const Btn5 = document.querySelector("#criteria-dropdown-5");
    const listDropdown5 = document.querySelector(".list-dropdown-5");
    addClickEvent(Btn5, listDropdown5);

    const Btn6 = document.querySelector("#criteria-dropdown-6");
    const listDropdown6 = document.querySelector(".list-dropdown-6");
    addClickEvent(Btn6, listDropdown6);

    const Btn7 = document.querySelector("#criteria-dropdown-7");
    const listDropdown7 = document.querySelector(".list-dropdown-7");
    addClickEvent(Btn7, listDropdown7);

    const Btn8 = document.querySelector("#criteria-dropdown-8");
    const listDropdown8 = document.querySelector(".list-dropdown-8");
    addClickEvent(Btn8, listDropdown8);

    const Btn9 = document.querySelector("#criteria-dropdown-9");
    const listDropdown9 = document.querySelector(".list-dropdown-9");
    addClickEvent(Btn9, listDropdown9);

    const Btn10 = document.querySelector("#criteria-dropdown-10");
    const listDropdown10 = document.querySelector(".list-dropdown-10");
    addClickEvent(Btn10, listDropdown10);

    function addClickEvent(Btn, listDropdown) {
        Btn.addEventListener("click", function () {
            listDropdown.style.display = "flex";
        });

        document.addEventListener("click", function (event) {
            if (!listDropdown.contains(event.target) && !Btn.contains(event.target)) {
                listDropdown.style.display = "none";
            }
        });
    }</script>
    </div>

    <div>
        <div class="category-sort" style="margin-bottom: 20px; margin-top: 20px;">
            <strong>Sắp xếp theo</strong>
        </div>
        <div class="category-list">
            <div class="sort-list sort-list-changeColor" onclick="toggleColorSee(this)">
                <i class="fa-solid fa-arrow-down-wide-short"></i>
                <span style="padding-left: 3px;"> Giá cao - thấp</span>
            </div>
            <div class="sort-list sort-list-changeColor" onclick="toggleColorSee(this)">
                <i class="fa-solid fa-arrow-down-short-wide"></i>
                <span style="padding-left: 3px;"> Giá thấp - cao</span>
            </div>
            <div class="sort-list sort-list-changeColor" onclick="toggleColorSee(this)">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <span style="padding-left: 3px;"> Khuyến mãi hot</span>
            </div>
            <div class="sort-list sort-list-changeColor" onclick="toggleColorSee(this)">
                <i class="fa-regular fa-eye"></i>
                <span style="padding-left: 3px;"> Xem nhiều</span>
            </div>

        </div>
    </div>
</div>




<div id="content">
    <div class="product-wrap">
        <div class="s-product">
            <div class="s-product-body">
                <div class="s-product-row">
                    <ul class="product-list">
                        <!-- 1. iPhone 16 Pro Max -->
                        <li class="product-item">
                            <a href="/Product/SanPham">
                                <div class="product-discount-wrap">
                                    <div class="product-discount">Giảm 13%</div>
                                    <div class="product-installment">Góp 0%</div>
                                </div>
                                <div class="product-img-wrap">
                                    <img src="https://tse4.mm.bing.net/th/id/OIP.aE-vScJrLf7KOPXsGGY6vwHaHa?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3"
                                         alt="iPhone 16 Pro Max" class="product-img">
                                </div>
                                <div class="product-title">iPhone 16 Pro Max 128GB | <span>Chính hãng VN/A</span></div>
                                <div class="product-price">32.990.000₫</div>
                                <div class="product-old-price"><del>36.990.000₫</del></div>
                                <div class="product-upprice">
                                    <span class="upprice-firstchild">Giá lên đời:</span>
                                    <span class="upprice-nth2">31.490.000₫</span>
                                </div>
                                <div class="product-service">Tặng gói dịch vụ 1 đổi 1 trong 6 tháng</div>
                                <div class="product-rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <footer class="product-fav">
                                    <span>Yêu thích</span>
                                    <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                                </footer>
                            </a>
                        </li>

                        <!-- 2. iPhone 13 Pro Max -->
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 10%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-13-pro-max.png"
                                     alt="iPhone 13 Pro Max" class="product-img">
                            </div>
                            <div class="product-title">iPhone 13 Pro Max 128GB | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">22.490.000₫</div>
                            <div class="product-old-price"><del>24.990.000₫</del></div>
                            <div class="product-upprice">
                                <span class="upprice-firstchild">Giá lên đời:</span>
                                <span class="upprice-nth2">21.490.000₫</span>
                            </div>
                            <div class="product-service">Tặng gói bảo hành 12 tháng</div>
                            <div class="product-rating">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>

                        <!-- 3. iPhone 15 Pro Max -->
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 11%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-15-pro-max_4.png"
                                     alt="iPhone 15 Pro Max" class="product-img">
                            </div>
                            <div class="product-title">iPhone 15 Pro Max 256GB | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">29.490.000₫</div>
                            <div class="product-old-price"><del>32.990.000₫</del></div>
                            <div class="product-upprice">
                                <span class="upprice-firstchild">Giá lên đời:</span>
                                <span class="upprice-nth2">28.000.000₫</span>
                            </div>
                            <div class="product-service">Giảm thêm 1 triệu khi thanh toán VNPAY</div>
                            <div class="product-rating">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>

                        <!-- 4. Infinix Hot 30 -->
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 8%</div>
                                <div class="product-installment">Trả góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/n/infinix-hot-30_2_.jpg"
                                     alt="Infinix Hot 30" class="product-img">
                            </div>
                            <div class="product-title">Infinix Hot 30 8GB/128GB | <span>Chính hãng</span></div>
                            <div class="product-price">3.590.000₫</div>
                            <div class="product-old-price"><del>3.890.000₫</del></div>
                            <div class="product-upprice">
                                <span class="upprice-firstchild">Giá lên đời:</span>
                                <span class="upprice-nth2">3.290.000₫</span>
                            </div>
                            <div class="product-service">Tặng tai nghe Bluetooth</div>
                            <div class="product-rating">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>

                        <!-- 5. Xiaomi Redmi Note 12 Pro 5G -->
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 9%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/x/i/xiaomi-redmi-note-12-pro-5g.png"
                                     alt="Xiaomi Redmi Note 12 Pro 5G" class="product-img">
                            </div>
                            <div class="product-title">Xiaomi Redmi Note 12 Pro 5G 8GB/256GB | <span>Chính hãng</span></div>
                            <div class="product-price">7.790.000₫</div>
                            <div class="product-old-price"><del>8.490.000₫</del></div>
                            <div class="product-upprice">
                                <span class="upprice-firstchild">Giá lên đời:</span>
                                <span class="upprice-nth2">7.390.000₫</span>
                            </div>
                            <div class="product-service">Tặng phiếu mua hàng 300.000₫</div>
                            <div class="product-rating">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                    </ul>

                    <ul class="product-list">
                        <!-- 6. iPhone 13 Pro Max 256GB -->
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 10%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-13-pro-max-256gb.png"
                                     alt="iPhone 13 Pro Max 256GB" class="product-img">
                            </div>
                            <div class="product-title">iPhone 13 Pro Max 256GB | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">24.490.000₫</div>
                            <div class="product-old-price"><del>26.990.000₫</del></div>
                            <div class="product-upprice">
                                <span class="upprice-firstchild">Giá lên đời:</span>
                                <span class="upprice-nth2">23.490.000₫</span>
                            </div>
                            <div class="product-service">Tặng gói bảo hành rơi vỡ</div>
                            <div class="product-rating">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>

                        <!-- 7. Samsung Galaxy Z Flip 4 -->
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 15%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/s/a/samsung-galaxy-z-flip-4.png"
                                     alt="Samsung Galaxy Z Flip 4" class="product-img">
                            </div>
                            <div class="product-title">Samsung Galaxy Z Flip 4 8GB/256GB | <span>Chính hãng</span></div>
                            <div class="product-price">15.990.000₫</div>
                            <div class="product-old-price"><del>18.990.000₫</del></div>
                            <div class="product-upprice">
                                <span class="upprice-firstchild">Giá lên đời:</span>
                                <span class="upprice-nth2">15.000.000₫</span>
                            </div>
                            <div class="product-service">Tặng ốp lưng chính hãng</div>
                            <div class="product-rating">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>

                        <!-- 8. Xiaomi 13 -->
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 10%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/x/i/xiaomi-13.png"
                                     alt="Xiaomi 13" class="product-img">
                            </div>
                            <div class="product-title">Xiaomi 13 12GB/256GB | <span>Chính hãng</span></div>
                            <div class="product-price">18.990.000₫</div>
                            <div class="product-old-price"><del>20.990.000₫</del></div>
                            <div class="product-upprice">
                                <span class="upprice-firstchild">Giá lên đời:</span>
                                <span class="upprice-nth2">18.000.000₫</span>
                            </div>
                            <div class="product-service">Giảm thêm 500k khi thanh toán online</div>
                            <div class="product-rating">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>

                        <!-- 9. TCL 40 NxtPaper -->
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 12%</div>
                                <div class="product-installment">Trả góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/t/c/tcl-40-nxt-paper_3_.png"
                                     alt="TCL 40 NxtPaper" class="product-img">
                            </div>
                            <div class="product-title">TCL 40 NxtPaper 8GB/256GB | <span>Chính hãng</span></div>
                            <div class="product-price">5.490.000₫</div>
                            <div class="product-old-price"><del>6.190.000₫</del></div>
                            <div class="product-upprice">
                                <span class="upprice-firstchild">Giá lên đời:</span>
                                <span class="upprice-nth2">5.000.000₫</span>
                            </div>
                            <div class="product-service">Tặng gói bảo hành mở rộng 12 tháng</div>
                            <div class="product-rating">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>

                        <!-- 10. 365 Độc Quyền -->
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 7%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/1/_/1_365-doc-quyuen.jpg"
                                     alt="365 Độc Quyền" class="product-img">
                            </div>
                            <div class="product-title">365 Độc Quyền | <span>Phiên bản đặc biệt</span></div>
                            <div class="product-price">4.490.000₫</div>
                            <div class="product-old-price"><del>4.890.000₫</del></div>
                            <div class="product-upprice">
                                <span class="upprice-firstchild">Giá lên đời:</span>
                                <span class="upprice-nth2">4.190.000₫</span>
                            </div>
                            <div class="product-service">Tặng gói bảo hành mở rộng 12 tháng</div>
                            <div class="product-rating">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                     </ul>           
                </div>
                </div>
                </div>
         </div>
     </div>
                
