<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- CSS mặc định -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- CSS riêng của anh -->
    <link href="~/Content/productlist.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

    <script src="~/js/phones.js"></script>
    <script src="https://kit.fontawesome.com/7cc90e9c3e.js" crossorigin="anonymous"></script>

    <button onclick="topFunction()" id="upBtn" title="Go to top">
        <i class="fa-solid fa-chevron-up"></i>
    </button>
</head>
<body>
    <footer class="footer">
        <div class="footer-top">
            <div class="footer-top-support">
                <p>Hỗ trợ khách hàng</p>
                <div>
                    <a href="">Danh sách cửa hàng</a>
                    <a href="">Hướng dẫn mua hàng online</a>
                    <a href="">Mua hàng trả góp</a>
                    <a href="">Tra cứu điểm thành viên</a>
                </div>
            </div>

            <div class="footer-top-policy">
                <p>Chính sách</p>
                <div>
                    <a href="">Chính sách bảo hành</a>
                    <a href="">Chính sách giao hàng</a>
                    <a href="">Chính sách bán hàng</a>
                </div>
            </div>

            <div class="footer-top-contact">
                <p>Liên hệ</p>
                <div>
                    <a href="Tel:070 8490301">Kỹ thuật: 0354445960</a>
                    <a href="Tel:1800 2064">Bảo hành: 1800 2064</a>
                    <a href="Tel:1800 2063">Góp ý: 1800 2063</a>
                    <a href="Tel:1800 2097">Gọi mua hàng: 1800 2097</a>
                </div>
            </div>
            <div class="footer-top-media">
                <p>Kết nối với chúng tôi</p>
                <a href="https://www.facebook.com/trungddat2004" class="fb"><img src="~/Image/FB.png" /> </a>
                <a href="" class="zalo"><img src="~/Image/zalo.jpg" /></a>
                <a href="" class="intagram"><img src="~/Image/IG.png" /></a>
                <p style="margin-top: 10px;">Phương thức thanh toán</p>
                <a href=""><img src="https://cdn2.cellphones.com.vn/x35,webp/media/wysiwyg/apple-pay-og.png" alt=""></a>
                <a href=""><img src="https://cdn2.cellphones.com.vn/x35,webp/media/logo/payment/vnpay-logo.png" alt=""></a>
                <a href=""><img src="https://cdn2.cellphones.com.vn/x/media/wysiwyg/momo_1.png" alt=""></a><a href=""><img src="https://cdn2.cellphones.com.vn/x35,webp/media/logo/payment/zalopay-logo.png" alt=""></a>
            </div>

        </div>

    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
