<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- CSS mặc định -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- CSS riêng của anh -->
    <link href="~/Content/productlist.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

    <script src="~/js/phones.js"></script>
    <script src="https://kit.fontawesome.com/7cc90e9c3e.js" crossorigin="anonymous"></script>

    <button onclick="topFunction()" id="upBtn" title="Go to top">
        <i class="fa-solid fa-chevron-up"></i>
    </button>
</head>

<body>
    @Html.Partial("_Header")

    <main>
        @RenderBody() 
    </main>

    @Html.Partial("_Footer")
</body>
</html>

