
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="slider">
    <div class="container">
        <div class="slider-content">
            <div class="slider-content-left">
                <div class="slider-content-left-container">

                    <div class="slider-content-left-pic">
                        <a href="@Url.Action("SanPham", "Product")"><img src="/pic/15pm.png" alt=""></a>
                        <a href=""><img src="/pic/oppo.png" alt=""></a>
                        <a href=""><img src="/pic/ssz5.png" alt=""></a>
                        <a href=""><img src="/pic/nubia.png" alt=""></a>
                        <a href=""><img src="/pic/vivo.png" alt=""></a>
                    </div>

                    <div class="slider-content-left-pic-btn">
                        <i class="fas fa-chevron-left"></i>
                        <i class="fas fa-chevron-right"></i>
                    </div>

                </div>

                <div class="slider-content-left-text">
                    <li class="active">iPhone 15 ProMax</li>
                    <li>Oppo Reno 10 5G</li>
                    <li>Samsung Z 5</li>
                    <li>Nubia NEO 5G</li>
                    <li>Vivo Y17s</li>
                </div>

            </div>

            <div class="slider-content-right">
                <ul>
                    <li>
                        <a href=""></a><img src="/pic/asus tuf.jpg">
                    </li>
                    <li>
                        <a href=""></a><img src="/pic/m14.png">
                    </li>
                    <li>
                        <a href=""></a><img src="/pic/ipad.png">
                    </li>
                </ul>

            </div>

        </div>
    </div>
</section>

<section class="product-sale">
    <div class="product-sale-content">
        <div class="product-sale-content-title">
            <h2>Săn sale mỗi ngày <img src="/pic/iconfire.png"></h2>
        </div>
        <div class="product-sale-content-container">
            <div class="product-sale-content-items">
                <ul class="product-sale-content-items-list">
                    <a href="@Url.Action("SanPham", "Product")">
                    <li class="product-sale-content-item">
                        <div class="product-discount-wrap">
                            <div class="product-discount">Giảm 13%</div>
                            <div class="product-installment">Góp 0%</div>
                        </div>
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-15-pro-max_3.png">

                        <div class="product-sale-content-item-text">
                            <div class="product-sale-content-item-text-title">Iphone 15 promax 256gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-sale-content-item-text-price ">31.990.000₫ </div>
                            <div class="product-sale-content-item-text-price-discount"><del>33.990.000</del>₫ </div>
                            <div class="product-sale-content-item-text-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <img src="/pic/cheap.png">
                        </div>
                    </li>
                    </a>
                    <li class="product-sale-content-item">
                        <div class="product-discount-wrap">
                            <div class="product-discount">Giảm 13%</div>
                            <div class="product-installment">Góp 0%</div>
                        </div>
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-15-plus_1__1.png">

                        <div class="product-sale-content-item-text">
                            <div class="product-sale-content-item-text-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-sale-content-item-text-price ">25.990.000₫ </div>
                            <div class="product-sale-content-item-text-price-discount"><del>29.990.000</del>₫</div>
                            <div class="product-sale-content-item-text-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <img src="/pic/cheap.png">
                        </div>
                    </li>
                    <li class="product-sale-content-item">
                        <div class="product-discount-wrap">
                            <div class="product-discount">Giảm 13%</div>
                            <div class="product-installment">Góp 0%</div>
                        </div>
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/f/i/find-n3-flip-vang_1.png">

                        <div class="product-sale-content-item-text">
                            <div class="product-sale-content-item-text-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-sale-content-item-text-price ">25.990.000₫ </div>
                            <div class="product-sale-content-item-text-price-discount"><del>29.990.000</del>₫ </div>
                            <div class="product-sale-content-item-text-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <img src="/pic/cheap.png">
                        </div>
                    </li>
                    <li class="product-sale-content-item">
                        <div class="product-discount-wrap">
                            <div class="product-discount">Giảm 13%</div>
                            <div class="product-installment">Góp 0%</div>
                        </div>
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/g/t/gtt_7766_3__1_5.jpg">

                        <div class="product-sale-content-item-text">
                            <div class="product-sale-content-item-text-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-sale-content-item-text-price ">25.990.000₫ </div>
                            <div class="product-sale-content-item-text-price-discount"><del>29.990.000</del>₫ </div>
                            <div class="product-sale-content-item-text-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <img src="/pic/cheap.png">
                        </div>
                    </li>
                    <li class="product-sale-content-item">
                        <div class="product-discount-wrap">
                            <div class="product-discount">Giảm 13%</div>
                            <div class="product-installment">Góp 0%</div>
                        </div>
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/s/a/samsung-galaxy-s23-ultra.png">

                        <div class="product-sale-content-item-text">
                            <div class="product-sale-content-item-text-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-sale-content-item-text-price ">25.990.000₫ </div>
                            <div class="product-sale-content-item-text-price-discount"><del>29.990.000</del>₫ </div>
                            <div class="product-sale-content-item-text-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <img src="/pic/cheap.png">
                        </div>
                    </li>
                </ul>

                <ul class="product-sale-content-items-list">

                    <li class="product-sale-content-item">
                        <div class="product-discount-wrap">
                            <div class="product-discount">Giảm 13%</div>
                            <div class="product-installment">Góp 0%</div>
                        </div>
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/s/a/samsung-galaxy-z-fold-5-256gb_1.png">

                        <div class="product-sale-content-item-text">
                            <div class="product-sale-content-item-text-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-sale-content-item-text-price ">25.990.000₫ </div>
                            <div class="product-sale-content-item-text-price-discount"><del>29.990.000</del>₫ </div>
                            <div class="product-sale-content-item-text-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <img src="/pic/cheap.png">
                        </div>
                    </li>
                    <li class="product-sale-content-item">
                        <div class="product-discount-wrap">
                            <div class="product-discount">Giảm 13%</div>
                            <div class="product-installment">Góp 0%</div>
                        </div>
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/f/i/find_n3_-_combo_product_-_gold.png">

                        <div class="product-sale-content-item-text">
                            <div class="product-sale-content-item-text-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-sale-content-item-text-price ">25.990.000₫ </div>
                            <div class="product-sale-content-item-text-price-discount"><del>29.990.000</del>₫</div>
                            <div class="product-sale-content-item-text-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <img src="/pic/cheap.png">
                        </div>
                    </li>
                    <li class="product-sale-content-item">
                        <div class="product-discount-wrap">
                            <div class="product-discount">Giảm 13%</div>
                            <div class="product-installment">Góp 0%</div>
                        </div>
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/x/i/xiaomi-13-pro-thumb-xanh-la9.jpg">

                        <div class="product-sale-content-item-text">
                            <div class="product-sale-content-item-text-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-sale-content-item-text-price ">25.990.000₫ </div>
                            <div class="product-sale-content-item-text-price-discount"><del>29.990.000</del>₫ </div>
                            <div class="product-sale-content-item-text-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <img src="/pic/cheap.png">
                        </div>
                    </li>
                    <li class="product-sale-content-item">
                        <div class="product-discount-wrap">
                            <div class="product-discount">Giảm 13%</div>
                            <div class="product-installment">Góp 0%</div>
                        </div>
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/n/u/nubia-neo-5g_2_1.png">

                        <div class="product-sale-content-item-text">
                            <div class="product-sale-content-item-text-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-sale-content-item-text-price ">25.990.000₫ </div>
                            <div class="product-sale-content-item-text-price-discount"><del>29.990.000</del>₫ </div>
                            <div class="product-sale-content-item-text-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <img src="/pic/cheap.png">
                        </div>
                    </li>
                    <li class="product-sale-content-item">
                        <div class="product-discount-wrap">
                            <div class="product-discount">Giảm 13%</div>
                            <div class="product-installment">Góp 0%</div>
                        </div>
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/t/e/tecno-pova-5_2_.png">

                        <div class="product-sale-content-item-text">
                            <div class="product-sale-content-item-text-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-sale-content-item-text-price ">25.990.000₫ </div>
                            <div class="product-sale-content-item-text-price-discount"><del>29.990.000</del>₫ </div>
                            <div class="product-sale-content-item-text-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <img src="/pic/cheap.png">
                        </div>
                    </li>
                </ul>

            </div>

            <div class="product-sale-content-btn">
                <i class="fas fa-chevron-left fa-chevron-left-two"></i>
                <i class="fas fa-chevron-right fa-chevron-right-two"></i>
            </div>
        </div>
    </div>
</section>

<div id="content">
    <div>
        <div class="s-product">
            <header class="s-product-heading">
                <div class="s-product-title"><a asp-action="Phones" asp-controller="Category">điện thoại nổi bật </a></div>
                <ul class="s-product-extra">
                    <li class="s-product-name"><a href="">Apple</a></li>
                    <li class="s-product-name"><a href="">Samsung</a></li>
                    <li class="s-product-name"><a href="">Vivo</a></li>
                    <li class="s-product-name"><a href="">Xiaomi</a></li>
                    <li class="s-product-name"><a href="">Nokia</a></li>
                    <li class="s-product-name"><a href="">OPPO</a></li>
                    <li class="s-product-name"><a href="">Realme</a></li>
                    <li class="s-product-name"><a href="">Asus</a></li>
                    <li class="s-product-name"><a href="">Techno</a></li>
                    <li class="s-product-name"><a href="">Xem tất cả</a></li>
                </ul>
            </header>

            <div class="s-product-body">
                <div class="s-product-row">
                    <ul class="product-list">
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="/pic/IP14OM.JPG" alt="" class="product-img">
                            </div>
                            <div class="product-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-13-pro-max.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-15-pro-max_4.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/n/infinix-hot-30_2_.jpg" alt="" class="product-img">
                            </div>
                            <div class="product-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/x/i/xiaomi-redmi-note-12-pro-5g.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                    </ul>

                    <ul class="product-list">
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-13-pro-max-256gb.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/s/a/samsung-galaxy-z-flip-4.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/x/i/xiaomi-13.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/t/c/tcl-40-nxt-paper_3_.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/1/_/1_365-doc-quyuen.jpg" alt="" class="product-img">
                            </div>
                            <div class="product-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="s-product-laptop">
            <header class="s-product-heading">
                <div class="s-product-title"><a href="">Laptop</a></div>
                <ul class="s-product-extra">
                    <li class="s-product-name"><a href="">Macbook</a></li>
                    <li class="s-product-name"><a href="">ThinkPad</a></li>
                    <li class="s-product-name"><a href="">Asus</a></li>
                    <li class="s-product-name"><a href="">HP</a></li>
                    <li class="s-product-name"><a href="">Surface</a></li>
                    <li class="s-product-name"><a href="">Acer</a></li>
                    <li class="s-product-name"><a href="">MSI</a></li>
                    <li class="s-product-name"><a href="">Dell</a></li>
                    <li class="s-product-name"><a href="">Xem tất cả</a></li>
                </ul>
            </header>
            <div class="s-product-body">
                <div class="s-product-row">
                    <ul class="product-list">
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/a/i/air_m2.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Apple MacBook Air M1 256GB 2020 I Chính hãng Apple Việt Nam </div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/m/a/macbook_air_m22.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Apple Macbook Air M2 2022 8GB 256GB I Chính hãng Apple Việt Nam</div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/p/r/pro-m2.jpg" alt="" class="product-img">
                            </div>
                            <div class="product-title">Apple Macbook Pro 13 M2 2022  8GB 256GB I Chính hãng Apple Việt Nam</div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/m/a/mac_pro.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Macbook Pro 14 M1 Pro 10 CPU - 16 GPU 16GB 1TB 2021 | Chính hãng Apple Việt Nam</div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/m/a/macbook_air_m2_8gb.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Macbook Air 15 inch M2 2023 8GB 256GB | Chính hãng Apple Việt Nam</div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                    </ul>
                    <ul class="product-list">
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/t/e/text_ng_n_-_2023-06-08t005130.908.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Laptop Asus VivoBook Go 14 E1404FA-NK177W</div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/l/a/laptop-asus-tuf-gaming-f15-fx506hf-hn014w.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Laptop Asus TUF GAMING F15 FX506HF-HN014W</div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/l/a/laptop-asus-e210ma-gj537w-4.jpg" alt="" class="product-img">
                            </div>
                            <div class="product-title">Laptop Asus E210MA GJ537W </div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/g/a/gaming_5_5_.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Laptop Lenovo Legion 5 15ARH7 82RE002WVN </div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/t/e/text_ng_n_2__3_18.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Laptop Lenovo LOQ 15IRH8 82XV00D5VN  </div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="s-product-screen">
            <header class="s-product-heading">
                <div class="s-product-title"><a href="">màn hình, máy tính để bàn</a></div>
                <ul class="s-product-extra">
                    <li class="s-product-name"><a href="">Màn hình văn phòng</a></li>
                    <li class="s-product-name"><a href="">Màn hình đồ họa</a></li>
                    <li class="s-product-name"><a href="">PC gaming</a></li>
                    <li class="s-product-name"><a href="">PC đồ họa</a></li>
                    <li class="s-product-name"><a href="">Build PC</a></li>
                    <li class="s-product-name"><a href="">Máy all in one</a></li>
                    <li class="s-product-name"><a href="">Xem tất cả</a></li>
                </ul>
            </header>
            <div class="s-product-body-2">
                <div class="s-product-row">
                    <ul class="product-list">
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/m/a/man-hinh-asus-va27ehf-27-inch-spa.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Màn hình ASUS VA27EHF 27 inch</div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/m/a/man-hinh-msi-pro-mp243x-24-inch_1.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Màn hình MSI Pro MP243X 24 inch</div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/g/i/gia-treo-man-hinh-may-tinh-north-bayou-nb-f80-1.jpg" alt="" class="product-img">
                            </div>
                            <div class="product-title">Giá treo màn hình máy tính North Bayou NB-F80</div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/g/r/group_238_6__1.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Màn hình Gaming LG UltraGear 27GN60R 27 inch</div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/g/r/group_258_5.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Màn hình LG UltraWide 29WQ600 29 inch</div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="s-product-tablet">
            <header class="s-product-heading">
                <div class="s-product-title"><a href="">Máy tính bảng</a></div>
                <ul class="s-product-extra">
                    <li class="s-product-name"><a href="">iPad</a></li>
                    <li class="s-product-name"><a href="">Samsung</a></li>
                    <li class="s-product-name"><a href="">Lenovo</a></li>
                    <li class="s-product-name"><a href="">Xiaomi</a></li>
                    <li class="s-product-name"><a href="">Xem tất cả</a></li>
                </ul>
            </header>
            <div class="s-product-body-2">
                <div class="s-product-row">
                    <ul class="product-list">
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/5/_/5_158_3.jpg" alt="" class="product-img">
                            </div>
                            <div class="product-title">iPad Air 5 10.9 inch (2022) 64GB I Chính hãng Apple Việt Nam</div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/t/a/tab-s9-fe-5g-doc-quyen.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Samsung Galaxy Tab S9 FE 5G 6GB 128GB - Chỉ có tại CellphoneS</div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/p/ipad-pro-13-select-wifi-spacegray-202210-02.jpg" alt="" class="product-img">
                            </div>
                            <div class="product-title">iPad Air 3 10.9 inch (2018) 64GB I Chính hãng Apple Việt Nam</div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/m/i/mi-pad-6-cps-doc-quyen.jpg" alt="" class="product-img">
                            </div>
                            <div class="product-title">Samsung Galaxy Tab S9 FE 5G 6GB 128GB - Chỉ có tại CellphoneS</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/i/p/ipad-2022-hero-silver-wifi-select.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">iPad Gen 10 10.9 inch 2022 Wifi 64GB I Chính hãng Apple Việt Nam</div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="s-product-sound">
            <header class="s-product-heading">
                <div class="s-product-title"><a href="">âm thanh</a></div>
                <ul class="s-product-extra">
                    <li class="s-product-name"><a href="">Tai nghe Bluetooth</a></li>
                    <li class="s-product-name"><a href="">Tai nghe Gaming</a></li>
                    <li class="s-product-name"><a href="">Loa Bluetooth</a></li>
                    <li class="s-product-name"><a href="">Loa Karaoke</a></li>
                    <li class="s-product-name"><a href="">Loa Soundbar</a></li>
                    <li class="s-product-name"><a href="">Xem tất cả</a></li>
                </ul>
            </header>
            <div class="s-product-body-2">
                <div class="s-product-row">
                    <ul class="product-list">
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/g/r/group_170_1_1.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/g/r/group_150_1_3.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/g/r/group_321_4_.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/g/r/group_182_2.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/e/d/edifier_w820nb.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Iphone 14 promax 128gb | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="s-product-watch">
            <header class="s-product-heading">
                <div class="s-product-title"><a href="">đồng hồ thông minh</a></div>
                <ul class="s-product-extra">
                    <li class="s-product-name"><a href="">Apple Watch</a></li>
                    <li class="s-product-name"><a href="">Samsung</a></li>
                    <li class="s-product-name"><a href="">Huawei</a></li>
                    <li class="s-product-name"><a href="">Xiaomi</a></li>
                    <li class="s-product-name"><a href="">Xem tất cả</a></li>
                </ul>
            </header>
            <div class="s-product-body-2">
                <div class="s-product-row">
                    <ul class="product-list">
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/h/u/huawei_3__1_1.png " alt="" class="product-img">
                            </div>
                            <div class="product-title">Đồng hồ thông minh Huawei Watch GT4 dây da | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/x/i/xiaomi_2_1.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Vòng đeo tay thông minh Xiaomi Mi Band 8 | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/a/m/amazfit_2__1.png" alt="" class="product-img">
                            </div>
                            <div class="product-title">Đồng hồ thông minh  | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/w/a/watch6_thumbnail.png " alt="" class="product-img">
                            </div>
                            <div class="product-title">Samsung Galaxy Watch6 40mm Bluetooth | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                        <li class="product-item">
                            <div class="product-discount-wrap">
                                <div class="product-discount">Giảm 13%</div>
                                <div class="product-installment">Góp 0%</div>
                            </div>
                            <div class="product-img-wrap">
                                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/a/p/apple-watch-se-2023-40mm.png " alt="" class="product-img">
                            </div>
                            <div class="product-title">Apple Watch SE 2 2023 40mm (GPS) viền nhôm | <span>Chính hãng VN/A</span></div>
                            <div class="product-price">25.990.000₫ </div>
                            <div class="product-old-price "><del>29.990.000₫</del> </div>
                            <div class="product-upprice "><span class="upprice-firstchild">Giá lên đời:</span> <span class="upprice-nth2">23.990.000₫ </span></div>
                            <div class="product-service ">Tặng gói dịch vụ 1 đổi 1 trong vòng 6 tháng</div>
                            <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                            <footer class="product-fav">
                                <span>Yêu thích</span>
                                <i class="fa-regular fa-heart" onclick="toggleFav(this)"></i>
                            </footer>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="s-product-accessories">
            <div class="s-product-accessories-title"><a href="">phụ kiện - linh kiện máy tính</a></div>
            <div class="s-product-accessories-item">
                <ul>
                    <li style="background-image: url(/pic/bg1.svg);"><a href="">Nổi bật</a></li>
                    <li style="background-image: url(/pic/bg2.svg);"><a href="">Phụ kiện Apple</a></li>
                    <li style="background-image: url(/pic/bg3.svg);"><a href="">Dán màn hình</a></li>
                    <li style="background-image: url(/pic/bg4.svg);"><a href="" style="padding-left: 5px;">Ốp lưng - Bao da</a></li>
                    <li style="background-image: url(/pic/bg5.svg);"><a href="">Cáp sạc</a></li>
                    <li style="background-image: url(/pic/bg6.svg);"><a href="">Sạc dự phòng</a></li>
                    <li style="background-image: url(/pic/bg7.svg);"><a href="">Thiết bị mạng</a></li>
                    <li style="background-image: url(/pic/bg8.svg);"><a href="" style="padding-left: 5px;">Tay cầm chơi game</a></li>
                    <li style="background-image: url(/pic/bg10.svg);"><a href="">Thẻ nhớ, USB</a></li>
                    <li style="background-image: url(/pic/bg11.svg);"><a href="" style="padding-left: 5px;">Chuột, bàn phím</a></li>
                </ul>
                <ul>
                    <li style="background-image: url(/pic/bg12.svg);"><a href="">Ổ cứng di động</a></li>
                    <li style="background-image: url(/pic/bg9.svg);"><a href="">Apple Care</a></li>
                    <li style="background-image: url(/pic/bg20.webp);"><a href="">Màn hình</a></li>
                    <li style="background-image: url(/pic/bg14.png);"><a href="">CPU</a></li>
                    <li style="background-image: url(/pic/bg15.png);"><a href="">MainBoard</a></li>
                    <li style="background-image: url(/pic/bg16.png);"><a href="">Nguồn</a></li>
                    <li style="background-image: url(/pic/bg17.png);"><a href="">RAM</a></li>
                    <li style="background-image: url(/pic/bg18.png);"><a href="">Ổ cứng</a></li>
                    <li style="background-image: url(/pic/bg19.png);"><a href="">Card Màn Hình</a></li>
                    <li style="background-image: url(/pic/bg13.png);"><a href="">Tản nhiệt</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>




